body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.success {
    color: green;
    border: 1px solid green;
    background-color: #e6ffe6;
}

.error {
    color: red;
    border: 1px solid red;
    background-color: #ffe6e6;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.container button {
    background-color: rgb(247, 46, 123);
}